.navbar {
    color: white;
    background-color: #3897F0;
    display: flex;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 40px;
}
.navbar a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}
.navbar .active {
    text-decoration: underline;
}